body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #BEC6C6ff, #51453Aff);
  }

  .login-container {
    background: #FBFCFCff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .login-container h2 {
    color: #51453Aff;
    margin-bottom: 20px;
  }

  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #3A3D3Dff;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .login-container input[type="submit"] {
    background-color: #3C3F3Dff;
    color: #FBFCFCff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
  }

  /* SVG Background */
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }